<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 text-center">

      <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" width="90%" />

      <br />
      <br/>
      
      <h5>Projeto Angular 03</h5>
      <p>MVP de controle de funcionários</p>
      <br />

      <div class="d-grid">
        <a routerLink="cadastro-funcionarios" class="btn btn-outline-primary mb-2">
          Cadastrar Funcionários
        </a>
      </div>

      <div class="d-grid">
        <a routerLink="consulta-funcionarios" class="btn btn-outline-primary mb-2">
          Consultar Funcionários
        </a>
      </div>      

    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>