<h5>Consulta de Funcionários</h5>
<hr />
<p>
    Listagem de funcionários cadastrados
</p>

<div class="card">
    <div class="card-body">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome do Funcionário</th>
                    <th>Salário</th>
                    <th>Data de Admissão</th>
                    <th>CPF</th>
                    <th>Matrícula</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of funcionarios">
                    <td>{{item.nome}}</td>
                    <td>{{item.salario | currency : 'R$ '}}</td>
                    <td>{{item.dataAdmissao | date : 'dd/MM/yyyy'}}</td>
                    <td>{{item.cpf}}</td>
                    <td>{{item.matricula}}</td>
                    <td width="160">
                        <button class="btn btn-primary btn-sm" (click)="obterFuncionario(item.idFuncionario)"
                            data-bs-target="#modal_edicao" data-bs-toggle="modal">
                            Editar
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm" (click)="excluirFuncionario(item.idFuncionario)">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        Quantidade de funcionarios: {{funcionarios.length}}
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<div id="modal_edicao" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar Funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #formEdicao="ngForm" (submit)="atualizarFuncionario(formEdicao)">

                    <input type="hidden" name="idFuncionario" [(ngModel)]="funcionario.idFuncionario" />

                    <div class="row">
                        <div class="col-md-8">
                            <label>Nome do funcionário:</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.nome" name="nome" />
                        </div>
                        <div class="col-md-4">
                            <label>CPF:</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.cpf" name="cpf" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Matrícula:</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.matricula"
                                name="matricula" />
                        </div>
                        <div class="col-md-4">
                            <label>Data de admissão:</label>
                            <input type="date" class="form-control" [(ngModel)]="funcionario.dataAdmissao"
                                name="dataAdmissao" />
                        </div>
                        <div class="col-md-4">
                            <label>Salário:</label>
                            <input type="text" class="form-control" [(ngModel)]="funcionario.salario" name="salario" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label>Foto do funcionário:</label>
                            <input type="file" class="form-control" [(ngModel)]="funcionario.foto" name="foto" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label>Observações adicionais:</label>
                            <textarea class="form-control" [(ngModel)]="funcionario.observacoes"
                                name="observacoes"></textarea>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12 text-end">
                            <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>